@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap');


$grey: #E5E5E5;
$grey-2:#F4EAE466;
$roboto:'Roboto',
sans-serif;
$orange:#FFECE2;
$pink:#FC0E52;

* {
    font-family: $roboto;
}

.bg-pink {
    background: $pink;
}
.bg-grey-2{
    background: $grey-2;
}

body,html {
    overflow-x: hidden;
    margin: 0;
}

main {
    padding: 5px 0;
    max-width: 100vw;
    h1 {
        font-size: 3.3rem;
        font-weight: 700;
    }
    .section{
        min-height: 100vh;
    }
    .hero {
        font-family: $roboto;
        position: relative;
        .shape-bg {
            position: absolute;
            background: $orange;
            width: 900px;
            height: 900px;
            top: -300px;
            z-index: -1;
            right: -350px;
            border-radius: 50%;
        }

        

        .hero-image {
            position: relative;
            z-index: 2;
        }

        .img-container {
            .shape-img {
                top: -50px;

                &.shape-img-lg {
                    left: -45px;
                    z-index: 1;
                }

                &.shape-img-sm {
                    left: 40px;
                    z-index: 2;
                }
            }
        }
    }

    .services{
        padding: 60px 0 0 0;
        background:$grey-2;

        .card{
            min-height: 470px;
        }
        .cards-wrapper{
            margin-bottom: -25px;
        }
    }
    .customers{
        padding: 50px 0;
    }
}
footer{
    h1{
        font-size: 3rem;
        font-weight: 700;
    }
}

@media screen and (max-width:600px) {
    main{
        h1{
            font-size: 2.5rem;
        }
        .hero{
            .shape-bg {
                top:unset;
                bottom: -30px;
                width: 600px;
                height: 600px;
            }
        }
    }
}